@model IEnumerable<Product>

<div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="spents">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">ProductType</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ProductType.Name</td>
                        <td>
                            <form method="get">
                                 <input type="submit" asp-controller="Product" asp-action="CreateOrEdit" asp-route-id=@product.Id class="btn btn-primary" value="Edit" /> 
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                 <input type="submit" asp-controller="Product" asp-action="Delete" asp-route-id=@product.Id class="btn btn-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>